@import "tailwindcss";

@theme {
  --animate-glitch: glitchx .5s linear 1;
  @keyframes glitchx {
    0% {
      transform: translateX(0);
      text-shadow: -3px 0px rgba(255, 0, 0, 0.25), 3px 0px rgba(0, 255, 255, 0.25);
    }
    20% {
      transform: translateX(-2px);
      text-shadow: -3px 0px rgba(255, 0, 0, 0.55), 3px 0px rgba(0, 255, 255, 0.55);
    }
    40% {
      transform: translateX(2px);
      text-shadow: -3px 0px rgba(255, 0, 0, 1), 3px 0px rgba(0, 255, 255, 1);
    }
    60% {
      transform: translateX(-1px);
      text-shadow: -3px 0px rgba(255, 0, 0, 0.55), 3px 0px rgba(0, 255, 255, 0.55);
    }
    80% {
      transform: translateX(1px);
        text-shadow: -3px 0px rgba(255, 0, 0, 0.25), 3px 0px rgba(0, 255, 255, 0.25);
    }
    100% {
      transform: translateX(0);
      text-shadow: none !important;
    }
  }

  --animate-pulso-glow: pulso-glow 5.5s infinite;
  @keyframes pulso-glow {
    0%, 100% {
      filter: drop-shadow(0 0 14px #ff009579);
    }
    50% {
      filter: drop-shadow(0 0 24px #ff0095);
    }
  }
}

