---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Antihero from '../components/Antihero.astro';
import Header from '../components/Header.astro';
import SectionCards from '../components/SectionCards.astro';
import AccesoriosHome from '../components/AccesoriosHome.astro';
// import DestacadosHome from '../components/React/DestacadosHome.jsx';
import DestacadosHome from '../components/DestacadosHome.astro';
import Separador from '../components/Separador.astro';


import { getCollection } from 'astro:content';
const guias = await getCollection('guias', ({ data }) => data.home === true);
const juegos = await getCollection('juegos', ({ data }) => data.home === true);
const accesorios = await getCollection('accesorios', ({ data }) => data.home === true);
// const guias = await getCollection('guias');

const titulo = 'Misión Tres: Domina tus Meta Quest 3';
const desc = 'Guías, comparativas, recomendaciones de juegos y experiencias VR para que disfrutes al máximo de tus Meta Quest 3';
const seoObj = {
  title : titulo,
  description: desc,
  // image: '/images/general/hero_bckg_1.webp',
  image: '/images/general/mision-tres-meta-quest.webp',
}

---

<Layout seoObj={seoObj}>
	
	<Header />
	<Hero />

	<main class="my-4 w-9/12 mx-auto m-auto">
		<Separador link="/guias/" text="Ver todas las guías" />
		<DestacadosHome items={guias} prefix="/guias/"/>
		<Separador link="/juegos/" text="Ver todos los artículos de juegos" />
		<SectionCards items={juegos} prefix="/juegos/"/>
		<Separador link="/accesorios/" text="Ver todos los accesorios" />
		<AccesoriosHome items={accesorios} />
	</main>	

	<Antihero />
</Layout>
