---

---
<section class="relative h-[90vh] flex items-center justify-center text-center bg-gradient-to-b from-slate-800 to-zinc-900 ">
  <div 
    class="absolute w-full h-full object-cover z-0 mask-t-from-20% mask-t-to-90%"
    style={`background-image: url('/images/general/goblin-comprar2.webp'); background-size: cover; background-position: center; opacity: 0.5;`}
  ></div>
  <div class="z-10">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Compra ahora tus Meta Quest 3</h1>
    <p class="text-lg mb-6">Elige las Meta Quest 3 que mejor se adaptan a ti</p>
    <a href="#experiencias" class="bg-orange-500 text-black px-6 py-3 rounded font-semibold hover:bg-orange-400 transition">Comprar Meta Quest 3</a>
  </div>
</section>