---
import BotonCompra from "./BotonCompra.astro";

---
<section class="relative h-[90vh] flex items-center justify-center text-center bg-gradient-to-b from-slate-800 to-zinc-900 ">
  <div 
    class="absolute w-full h-full object-cover z-0 mask-t-from-20% mask-t-to-90%"
    style={`background-image: url('/images/general/comprar-meta-quest-3.webp'); background-size: cover; background-position: top; opacity: 0.5;`}
  ></div>
  <div class="z-10">
    <h2 class="text-4xl md:text-6xl font-bold mb-4 hover:animate-glitch">Compra ahora tus Meta Quest 3</h2>
    <p class="text-lg mb-6">Elige las Meta Quest 3 que mejor se adaptan a ti</p>
    <BotonCompra label="Comprar Meta Quest 3" href="#experiencias" />
  </div>
</section>