---
---

<div id="image-content-popup" class="fixed top-0 left-0 z-9999 h-full w-full bg-slate-800/95 hidden">
  <div class="w-full h-full bg-contain bg-no-repeat bg-center js-popup-modal-image"></div>
  <div class="absolute top-4 right-4 cursor-pointer text-white text-3xl font-bold z-10" id="js-close-image-popup">
    &times;
  </div>  
</div>

<script src="../scripts/content.js"></script>